<div class="scoreboard-ext-container">
  <section class="scoreboard-section" *ngIf="game?.linescore">
    <mlb-data-score-hits-errors
      [game]="game"
    ></mlb-data-score-hits-errors>
  </section>
  <section class="scoreboard-section" *ngIf="game?.status.status === 'In Progress'">
    <div class="scoreboard-section-wrapper">
      <div class="header">
        <div>Pitcher</div>
      </div>
      <div class="player-row">
        <div class="img-container">
          <div class="headshot-wrapper">
            <img class="headshot" src="https://content.mlb.com/images/headshots/current/60x60/{{game?.pitcher.id}}.png" alt="">
          </div>
        </div>
        <div class="pitcher-meta">
          <a href="" class="name">{{game?.pitcher.name_display_roster}}</a>
          <span class="stat-line">{{game?.pitcher.ip}} IP, {{game?.pitcher.ip}} ER, {{game?.pitcher.h}} H, {{game?.pitcher.so}} SO, {{game?.pitcher.bb}} BB</span>
        </div>
      </div>
      <div class="header">
        <div>Hitter</div>
      </div>
      <div class="player-row">
        <div class="img-container">
          <div class="headshot-wrapper">
            <img class="headshot" src="https://content.mlb.com/images/headshots/current/60x60/{{game?.batter.id}}.png" alt="">
          </div>
        </div>
        <div class="hitter-meta">
          <a href="" class="name">{{game?.batter.name_display_roster}}</a>
          <span class="stat-line">{{game?.status.b}}-{{game?.status.s}}, {{game?.batter.ab}} AB, {{game?.batter.h}} H</span>
        </div>
      </div>
    </div>
  </section>

  <section class="scoreboard-section scoreboard-details">
    <mlb-data-bases-live
      [game]="game"
    ></mlb-data-bases-live>
    <mlb-data-balls-strikes-outs
      [game]="game"
    ></mlb-data-balls-strikes-outs>

  </section>
</div>
