table
  background-color: transparent
  border-collapse: collapse

.table
  width: 100%
  max-width: 100%
  margin-bottom: 24px
  text-align: left
  font-size: 11px

.active
  background-color: #ecefef

.clickable
  cursor: pointer
  &:hover
    background-color: #ecefef

.table-data
  border: none

  thead
    tr
      border-bottom: 1px solid #d4d9d9
      text-transform: uppercase
      th
        border-color: #d4d9d9
        border-right: 1px solid #d4d9d9
        padding: 10px
        font-size: 13px
        font-weight: 900
        letter-spacing: 0.3px
        vertical-align: bottom

  tbody
    tr
      border-bottom: 1px solid #d4d9d9
      &:hover
        background-color: #ecefef
      td
        padding: 10px 10px
        border: none
