.circleGraphs
  overflow: hidden
  padding: 5px 0
  width: 70px
  height: auto
  display: flex
  flex-direction: column

  .abbrev
    float: left
    text-align center
    margin-right: 5px
    font-size: 10px
    color: #222222
    width: 8px

  span
    display: block

  &.four
    width: 64px

  .circle
    background-color: #cbccce
    border-radius: 10px
    float: left
    height: 10px
    margin-right: 3px
    width: 10px

  .description
    display: none

  .active
    background-color: #d00
