<div class="circleGraphs">
  <div class="circleGraph  four">
    <span class="abbrev">B</span>
    <span class="circle balls "></span>
    <span class="circle balls "></span>
    <span class="circle balls "></span>
    <span class="circle balls "></span>
    <span class="description">0 Balls</span>
  </div>
  <div class="circleGraph ">
    <span class="abbrev">S</span>
    <span class="circle strikes active"></span>
    <span class="circle strikes "></span>
    <span class="circle strikes "></span>
    <span class="description">0 Strikes</span>
  </div>
  <div class="circleGraph ">
    <span class="abbrev">O</span>
    <span class="circle outs "></span>
    <span class="circle outs "></span>
    <span class="circle outs "></span>
    <span class="description">0 Outs</span>
  </div>
</div>
