:host
  width: 420px
  display: flex
  flex-direction: row

  padding: 10px 20px
  align-items: center
  border-bottom: 1px solid #cccccc

  &:hover
    background: #f9f9fb
    cursor: pointer

.scorecard-logo
  max-width: 20px
  display: block

.scorecard-team-name
  font-weight: 500
  font-size: 16px
  line-height: 1
  padding: 0

.scorecard-details
  width: calc(100% - 230px)
  padding-right: 13px
  order: 1
  border-right: 1px solid #cccccc

.scorecard-score
.scorecard-record
  text-align: center

.scorecard-record
  color: #a5a6a7
  font-size: 11px

.scorecard-overview
  display: block
  padding-left: 20px
  order: 2
  font-size: 11px
  color: #6c6d6

.scorecard-tv-station
  display: block
  width: 65px
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
