<table class="scorecard-details">
  <tbody>
    <tr>
      <td width="30">
        <img class="scorecard-logo away-team" src="../../assets/logos/{{game?.away_team_id}}.svg" />
      </td>
      <td class="scorecard-team-name">
        {{game?.away_team_name}}
      </td>
      <td
        *ngIf="game?.linescore"
        width="50"
        class="scorecard-score"
      >
        {{game?.linescore.r?.away}}
      </td>
      <td
        *ngIf="!game?.linescore"
        width="50"
        class="scorecard-record"
      >
        {{game?.away_win}} - {{game?.away_loss}}
      </td>
    </tr>
    <tr>
      <td>
        <img class="scorecard-logo home-team" src="../../assets/logos/{{game?.home_team_id}}.svg" />
      </td>
      <td class="scorecard-team-name">
        {{game?.home_team_name}}
      </td>
      <td *ngIf="game?.linescore"
          class="scorecard-score"
      >
        {{game?.linescore.r?.home}}
      </td>
      <td *ngIf="!game?.linescore"
          class="scorecard-record"
      >
        {{game?.home_win}} - {{game?.home_loss}}
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="game?.status.status === 'Preview' " class="scorecard-overview">
  <tr>
    <td>{{game?.time}} {{game?.time_zone}} {{game?.ampm}}</td>
  </tr>
  <tr>
    <td class="scorecard-tv-station">{{game?.broadcast.home.tv}}</td>
  </tr>
</table>

<table *ngIf="game?.status.status !== 'Preview' && game?.status.status !== 'In Progress' && game?.status.status !== 'Final' " class="scorecard-overview">
  <tr>
    <td>{{game?.time}} {{game?.time_zone}} {{game?.ampm}}</td>
  </tr>
  <tr>
    <td>{{game?.status.status}}</td>
  </tr>
</table>

<table *ngIf="game?.status.status === 'In Progress' " class="scorecard-overview">
  <tr>
    <td>
      {{game?.status.inning_state}} {{game?.status.inning}}<br>
      B: {{game?.batter.last}} {{game?.batter.avg}}<br>
      P: {{game?.pitcher.last}} {{game?.pitcher.era}}
    </td>
    <td></td>
    <td>
      <mlb-data-bases-live
        *ngIf="game?.status.status === 'In Progress'"
        [game]="game"
      ></mlb-data-bases-live>
    </td>
  </tr>
</table>

<table *ngIf="game?.status.status === 'Final' " class="scorecard-overview">
  <tr>
    <td>FINAL</td>
  </tr>
  <tr></tr>
</table>
