.bases
  display: block
  width: 45px
  height: 35px

  .diamond
    border-color: transparent transparent #cbccce transparent
    border-style: solid
    height: 0
    position: relative
    width: 0
    border-width: 10px
    top: -15px

    &:after
      content: ''
      border-color: transparent
      border-style: solid
      border-top-color: #cbccce
      height: 0
      position: absolute
      width: 0
      border-width: 10px
      left: -10px
      top: 10px

  .first-base
  .second-base
  .third-base
    &.active
      border-bottom-color: #d00
      &:after
        border-top-color: #d00

  .second-base
    clear: both
    margin: 0 auto
    top: -7px !important


  .third-base
    float: left
    margin-right: 4px

  .first-base
    float: right
