<table class="table table-data">
  <thead>
    <tr>
      <th>RK</th>
      <th width="100">Player</th>
      <th>Team</th>
      <th>Pos</th>
      <th (click)="getStat('g')" class="clickable">G</th>
      <th (click)="getStat('ab')" class="clickable">AB</th>
      <th (click)="getStat('r')" class="clickable">R</th>
      <th (click)="getStat('h')" class="clickable">H</th>
      <th (click)="getStat('hr')" class="clickable">HR</th>
      <th (click)="getStat('rbi')" class="clickable">RBI</th>
      <th (click)="getStat('bb')" class="clickable">BB</th>
      <th (click)="getStat('so')" class="clickable">SO</th>
      <th (click)="getStat('sb')" class="clickable">SB</th>
      <th (click)="getStat('cs')" class="clickable">CS</th>
      <th (click)="getStat('avg')" class="clickable">AVG</th>
      <th (click)="getStat('obp')" class="clickable">OBP</th>
      <th (click)="getStat('slg')" class="clickable">SLG</th>
      <th (click)="getStat('ops')" class="clickable">OPS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of leaderboard">
      <td>{{player.rank}}</td>
      <td>{{player.name_last}}, {{player.name_first.charAt(0)}}</td>
      <td>{{player.team_abbrev}}</td>
      <td>{{player.pos}}</td>
      <td>{{player.g}}</td>
      <td>{{player.ab}}</td>
      <td>{{player.r}}</td>
      <td>{{player.h}}</td>
      <td>{{player.hr}}</td>
      <td>{{player.rbi}}</td>
      <td>{{player.bb}}</td>
      <td>{{player.so}}</td>
      <td>{{player.sb}}</td>
      <td>{{player.cs}}</td>
      <td>{{player.avg}}</td>
      <td>{{player.obp}}</td>
      <td>{{player.slg}}</td>
      <td>{{player.ops}}</td>
    </tr>
  </tbody>

</table>

